extends ../layout.pug

block styles
    link(rel="stylesheet", href="/styles/dummy.min.css")

block content
    h1#dummy-header Dummy page
    #container.col
        p Welcome to the PuLeTy project dummy page!
        a(href="/") link to home
        #ajax-content

block scripts
    script.
        requirejs(['dummyscript']);