<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Sonic - #{title}
  block styles
body
  block content
  block footer

  script(data-main="../scripts/requirejs-config.js" src='/lib/requirejs/require.js')

  block scripts